absl-py==0.7.0
appnope==0.1.0
asn1crypto==0.24.0
astor==0.7.1
awscli==1.11.141
bleach==1.5.0
cachetools==3.1.0
certifi==2018.11.29
cffi==1.12.0
chardet==3.0.4
cloudpickle==0.7.0
cryptography==2.5
cycler==0.10.0
Cython==0.29.4
dask==1.1.0
decorator==4.3.2
docutils==0.14
entrypoints==0.2.3
future==0.16.0
gast==0.2.2
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
grpcio==1.18.0
h5py==2.9.0
html5lib==0.999
idna==2.8
imageio==2.4.1
imgaug==0.2.7
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-core==4.3.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.0.2
mistune==0.7.4
nbconvert==5.2.1
nbformat==4.4.0
networkx==2.2
notebook==5.0.0
numexpr==2.6.9
numpy==1.14.5
opencv-contrib-python==4.0.0.21
opencv-python==4.0.0.21
pandas==0.23.4
pandocfilters==1.4.2
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.4.1
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.5.2
pyasn1-modules==0.2.4
pycocotools==2.0.0
pycparser==2.19
pydicom==1.2.2
pydot==1.4.1
Pygments==2.2.0
pyparsing==2.3.1
python-dateutil==2.6.1
pytz==2018.9
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==16.0.2
requests==2.21.0
s3transfer==0.1.10
scikit-image==0.14.2
scikit-learn==0.19.0
scipy==1.2.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
six==1.12.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
terminado==0.6
testpath==0.3
Theano==1.0.4
toolz==0.9.0
tornado==4.5.2
tqdm==4.30.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
