Keras==2.2.4
h5py==2.9.0
tensorflow-gpu==2.0.0a0
numpy==1.14.5
Pillow==5.4.1
opencv-python==4.0.0.21
google==2.0.1
setuptools==40.8.0
google-cloud-storage==1.14.0
google-cloud==0.34.0
google-api-python-client==1.7.8